<launch>

  <group ns="master">

  <node pkg="roborts" type="RMSC_decision_node_v0" name="RMSC_decision_node" respawn="false" />

  <node pkg="sound_play" type="soundplay_node.py" name="sound_play_node" respawn="false" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roborts)/tools/rviz/rm_master.rviz" />

  <node pkg="roborts" type="nav_to_node.py" name="nav_to_node" respawn="false" />

  <node pkg="roborts" type="look_n_move_node.py" name="look_n_move_node" respawn="false" />

  <node pkg="roborts" type="get_ammo_node.py" name="get_ammo_node" respawn="false" />
  </group>
</launch>

